[data]
dict_path = Thuocl_seg.txt
test_path = test_data_NAME
data_path = C:\Users\ADMIN\Desktop\
bei = /tmp/pycharm_project_133
dataset = datasss
max_len_f = 512
max_len_f_bei = 512
max_sen_len = 16
max_tdidfdoc = 50000
bei_tdidfdoc = 20000
keywords_threshold = 0.7
type_of_label = law,crit,time
type_of_loss = single_classification,single_classification,single_classification
graph = [(1 2),(2 3),(1 3)]
threshold = 1.50
beisim = 0.60
max_sim = 50
batch_size = 128
shuffle = False
vec_size = 200
sentence_num = 16
sentence_len = 128
min_frequency = 100
test_ratio = 0.3
random_seed = 42
word_dic = w2id_thulac_new.pkl
vec_path = cail_thulac_new.npy
model_path = models
train_data = processed_train.json
test_data = processed_test.json
bei_test = processed_test.json
[net]
name = NAME
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256
num_layers = 1
method = MAX
[train]
pre_train = 11
epoch = 11
learning_rate = 1e-3
weight_decay = 1e-4
momentum = 0.99
optimizer = adam
dropout = 0
[output]
output_time = 128
model_path = C:\Users\ADMIN\Desktop\model
bei_model = /tmp/pycharm_project_133/model
test_path = C:\Users\ADMIN\Desktop\result
bei_test = /tmp/pycharm_project_133/result
model_name = xslstm
test_time = 2

